*{
    margin: 0;
   padding: 0;
box-sizing: border-box;

}
@font-face {
    font-family:"adeeba";
    src: url("Roboto-BoldItalic.ttf");
}
h1{
    font-family:"adeeba" ;
    font-style:initial ;
     font-weight: 400;
}
p{
    font-family: "adeeba";
    font-weight: 200;
    font-style:italic;
}