*{
    margin: 0;
   padding: 0;
box-sizing: border-box;

}
@font-face {
    font-family:" adeeba";
    src: url(Agdasima\,Alex_Brush\,Anton\,Great_Vibes\,Mrs_Saint_Delafield\,etc.zip);
}
h1{
    font-family:"adeeba" ;
    font-style:initial ;
     font-weight: 500;
}
p{
    font-family: "adeeba";
    font-weight: 300;
    font-style:italic;
}